doctype

html
    head
        meta(name="viewport", content="width=device-width")
        title Ultimate TTT
        link(rel='stylesheet' href='./style.css')
        script(src='./script.js' defer)
    body
        section.container
            include grid.pug